@import url("header.css");
@import url("digital.css");
@import url("analogico.css");
@import url("data.css");


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-size: 16px;
    color: #000;
}

body {
    height: 100vh;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
} */

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    padding: 1rem;
    display: flex;
    justify-content:flex-start;
}

.titulo-principal {
    margin-bottom: 20px;
}

.titulo-principal i {
    padding: 1em;
    border-radius: 4px;
    margin-right: 5px;
    background: #fff;
    box-shadow: 2px 2px 1px 1px #000000bf;
}

.titulo-principal h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.relogios {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

footer {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}