@import url("cabecalho.css");
@import url("momento.css");
@import url("secao.css");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family-titulo: "Playwrite AU SA", serif;
    --font-family-texto: "Open Sans", serif;
    color: #000;
}

:focus {
    outline: 2px solid #c50202;
    outline-offset: 2px;
}

a {
    transition: transform 0.3s ease-in-out;
}

a:focus, a:hover {
    transform: scale(1.1);
}

body {
    transition: background 0.5s ease-in-out;
}

main {
    margin: 0 4em;
}

footer {
    font-style: italic;
    text-align: center;
}

@media (max-width: 1000px) {
    main {
        margin: auto 2em;
    }
}